<article class="pt5"><!-- id="" -->
	<section class="cf w-100 pv3 f4 ph3 ph4-ns">
		<div class="mw9 center ph3-ns">
		  <div class="ph2-ns">
		    <div class="fl w-100 w-70-ns pr4"><!-- w-two-thirds -->
		      <div class="pv4 fr w-100 w-90-m w-80-l"><!-- outline bg-black-05 truncate no-wrap -->
		      
		      	<span class="db f6 ttu tracked fw1 inherit">
		      		<span class="b">Connect</span>
		      	</span>
		      	<hr class="ba bw1 mb0 bg-inherit o-10"/>
		      	<header class="fl w-100 pr4-ns pb4">
		      		<h1 class="f2 lh-title fw9 mb3 pt0">
		      			<span class="fw7 o-100">Social media{{/* .Title */}}</span>
		      		</h1>
		      		<h2 class="f3 lh-title o-70">
		      		  <span class="fw7">Deep in the heart of Italy{{/* .Description */}}</span>
		      		</h2>
		      	</header>


		    	  <a target="_blank" href="https://api.whatsapp.com/send?text=I%20have%20seen%20your%20website%20rvo.lt&phone=390744988050" class="fl db w-third glow o-90 overflow-hidden cover z-0 aspect-ratio--3x1" style="background:white url({{ .Site.BaseURL }}img/00e676-whatsapp.svg) no-repeat center center" alt="whatsapp"></a><!-- https://stackoverflow.com/questions/30344476/web-link-to-specific-whatsapp-contact#43357241 -->
		    	  
		    	  <a target="_blank" href="mailto:fairtech@pm.me?subject=I%20have%20seen%20your%20website%20rvo.lt" class="fl db w-third glow o-90 overflow-hidden cover z-0 aspect-ratio--3x1" style="background:white url({{ .Site.BaseURL }}img/email.svg) no-repeat center center;background-color:#ff4136;" alt="email"></a>
		    	  
		    	  <a target="_blank" href="https://twitter.com/fairtechrvolt" class="fl db w-third glow o-90 overflow-hidden cover z-0 aspect-ratio--3x1" style="background:white url({{ .Site.BaseURL }}img/1da1f2-twitter.svg) no-repeat center center" alt="twitter"></a>

		    	  <a target="_blank" href="sms:+39 0744 988 050&body=I%20have%20seen%20your%20website%20rvo.lt" class="fl db w-third glow o-90 overflow-hidden cover z-0 aspect-ratio--3x1" style="background:white url({{ .Site.BaseURL }}img/00bc28-sms.svg) no-repeat center center" alt="sms"></a>
		    	  
		    	  <a target="_blank" href="https://www.google.com/maps/dir/current+location/Per+-+Il+Parco+Dell'Energia+Rinnovabile,+Localita'+Inano+-+Frattuccia,+05025+Collicello,+Italy" class="fl db w-third glow o-90 overflow-hidden cover z-0 aspect-ratio--3x1" style="background:white url({{ .Site.BaseURL }}img/dd4b39-visit.svg) no-repeat center center" alt="visit"></a>
		    	  
		    	  <a target="_blank" href="https://www.tripadvisor.co.uk/Hotel_Review-g1757556-d1756467-Reviews-PeR_Il_Parco_dell_Energia_Rinnovabile-Frattuccia_Province_of_Terni_Umbria.html" class="fl db w-third glow o-90 overflow-hidden cover z-0 aspect-ratio--3x1" style="background:white url({{ .Site.BaseURL }}img/tripadvisor.svg) no-repeat center center;background-color:#00a680;" alt="tripadvisor"></a><!-- #078171 #3f8dcf -->
		    	  
		    	  <a target="_blank" href="tel:+39 335 399 215" class="fl db w-third glow o-90 overflow-hidden cover z-0 aspect-ratio--3x1" style="background:white url({{ .Site.BaseURL }}img/006618-call.svg) no-repeat center center" alt="call"></a>

		    	  <!-- Parco Energia Rinnovabilie -->
		    	  <a target="_blank" href="https://www.youtube.com/user/PeRParcodellEnergia/videos" class="fl db w-third glow o-90 overflow-hidden cover z-0 aspect-ratio--3x1" style="background:white url({{ .Site.BaseURL }}img/d82532-youtube.svg) no-repeat center center" alt="youtube"></a>
		    	  
		    	  <a target="_blank" href="https://www.facebook.com/PeRIlParcodellaEnergiaRinnovabile/" class="fl db w-third glow o-90 overflow-hidden cover z-0 aspect-ratio--3x1" style="background:white url({{ .Site.BaseURL }}img/3b5998-facebook.svg) no-repeat center center" alt="facebook"></a>



		       </div><!-- /fr outline -->
		    </div><!-- /w-two-thirds -->
		  </div><!-- /ph2-ns -->
		</div><!-- /mw9 center ph3-ns -->
	</section><!-- /cf w-100 pv3 f4 ph3 ph4-ns -->
</article>
<script>//{{ partial "footer" . }}</script>