<article class="pt5"><!-- id="" -->
	<section class="cf w-100 pv3 f4 ph3 ph4-ns">
		<div class="mw9 center ph3-ns">
		  <div class="ph2-ns">
		    <div class="fl w-100 w-70-ns pr4"><!-- w-two-thirds -->
		      <div class="pv4 fr w-100 w-90-m w-80-l"><!-- outline bg-black-05 truncate no-wrap -->
		      
		      	<span class="db f6 ttu tracked fw1 inherit">
		      		<span class="b">VISIT</span>
		      	</span>
		      	<hr class="ba bw1 mb0 bg-inherit o-10"/>
		      	<header class="fl w-100 pr4-ns pb4">
		      		<h1 class="f2 lh-title fw9 mb3 pt0">
		      			<span class="fw7 o-100">Visit <span class="ttn fs-initial">P<sup class="large v-sup">e̲</sup>R</span></span>
		      		</h1>
		      		<h2 class="f3 lh-title o-70">
		      		  <span class="fw7">We help people like you</span>
		      		</h2>
		      	</header>
		    	  <p>Reduce wasteful spending, improve well-being and understand life changing technology. To visit <strong><span class="ttn fs-initial">P<sup class="large v-sup">e̲</sup>R</span></strong>, call: <a href="+39 0744 988 050">+39 0744 988 050</a></p>
		    	  
		    	  <!--<h2>Find&nbsp;us</h2>
		    	  <h3>Deep in the heart of&nbsp;Italy</h3>-->
		    	  <address class="fs-normal">
		    	  <strong><a target="_blank" href="https://www.google.com/maps/dir/current+location/Per+-+Il+Parco+Dell'Energia+Rinnovabile,+Localita'+Inano+-+Frattuccia,+05025+Collicello,+Italy">Parco&nbsp;dell’&nbsp;Energia Rinnovabile</a></strong><br>
		    	  Via del Pantano, 72<br>
		    	  Frazione Frattuccia,<br>
		    	  05025, Guardea TR, Italia
		    	  </address>
		    	  
		    	  <form action="https://www.google.com/maps/dir/current+location/Per+-+Il+Parco+Dell'Energia+Rinnovabile,+Localita'+Inano+-+Frattuccia,+05025+Collicello,+Italy">
		    	  <input class="bg-violet white f5 ttu pointer mt3 mb0 ph4 pv3 dib bn transition hover-white-80" type="submit" value="Route location">
		    	  <!--➤-->
		    	  </form>
		    	  
		    	  <h2>Become more self-sufficient</h2>
		    	  <p><strong><span class="ttn fs-initial">P<sup class="large v-sup">e̲</sup>R</span></strong> is a reference point for fair technologies that can have a positive net impact. We consistently aim to do more with less and invigorate living&nbsp;purpose.</p>
		    	  
		    	  <a href="https://inspiredlabs.co.uk/per.umbria.it/en/">Learn more ➝</a>


		       </div><!-- /fr outline -->
		    </div><!-- /w-two-thirds -->
		  </div><!-- /ph2-ns -->
		</div><!-- /mw9 center ph3-ns -->
	</section><!-- /cf w-100 pv3 f4 ph3 ph4-ns -->
</article>