<li class="post-holder"><!-- Begin: li.html -->

<article class="pt5"><!-- id="" -->
	<section class="cf w-100 pv3 f4 ph3 ph4-ns">
		<div class="mw9 center ph3-ns">
		  <div class="ph2-ns">
		    <div class="fl w-100 w-70-ns pr4"><!-- w-two-thirds -->
		      <div class="pv4 fr w-100 w-90-m w-80-l"><!-- outline bg-black-05 truncate no-wrap -->

		      	<a href="{{ .Site.BaseURL }}" class="no-underline dim db f6 ttu tracked fw1 inherit"><!--{{.Site.Home}}-->
		      		<svg viewBox="-356 234.3 128 128" class="no-select pr2 h07">
		      			<use xlink:href="#home"></use>
		      		</svg>
		      		<!--span class="pr3">{{ .Site.Title }}</span-->
		      		<time class="b">{{ dateFormat "01-02-2006" .Date }}{{/* dateFormat "Monday January, 2, 2006" .Date */}}</time>
		      	</a>

	    			<hr class="ba bw1 mb0 bg-inherit o-10"/>
		      	<!--<details class="details">-->
		      		<span class="list"><!-- summary -->
		      			<header class="fl w-100 pr4-ns">
	      					<!--a id="blog-logo" href="{{ .Site.BaseURL}}">
	      					    {{ if .Site.Params.logo }}
	      					        <a id="blog-logo" href="{{ .Site.BaseURL}}"><img src="{{ .Site.Params.logo }}" alt="Blog Logo" /></a>
	      					    {{else}}
	      					        {{ .Site.Title }}
	      					    {{ end }}
	      					</a-->
	      					<h1 class="f2 lh-title fw9 mb3 pt0">
	      						<span class="fw7 o-100">{{ .Title| replaceRE "PeR" "<span class='ttn fs-initial'>P<sup class='large v-sup'>e̲</sup>R</span>" | safeHTML }}

</span>
	      					</h1>
	      					<h2 class="f3 lh-title o-70">
	      					  <span class="fw7">{{ .Description| replaceRE "PeR" "<span class='ttn fs-initial'>P<sup class='large v-sup'>e̲</sup>R</span>" | safeHTML }}

</span>
	      					</h2>
	      					<p class="f4-ns mt0-ns o-70">
	      						<span class="fw9">{{ .Params.assignment }}</span>
	      						{{ if .Params.location }}
	      						<span class="fw7">&hairsp;—&nbsp;{{ .Params.location| replaceRE "PeR" "<span class='ttn fs-initial'>P<sup class='large v-sup'>e̲</sup>R</span>" | safeHTML }}

</span><!-- | safeHTML-->
	      						{{ end }}
	      					</p>
		      			</header>	
      				</span><!-- /summary -->
      				<div class="highlight">
					    {{ .Content| replaceRE "PeR" "<span class='ttn fs-initial'>P<sup class='large v-sup'>e̲</sup>R</span>" | safeHTML }}
					    </div>


	      		<!--</details>-->
	       </div><!-- /fr outline -->
      </div><!-- /w-two-thirds -->
    </div><!-- /ph2-ns -->
  </div><!-- /mw9 center ph3-ns -->
	</section><!-- /cf w-100 pv3 f4 ph3 ph4-ns -->
</article>

</li><!-- /li.html -->